<InstalledPlugins>
  <Plugin>
  <Name>FIELDPRO Connector</Name>
  <Description>Integrates Petrel with FIELDPRO database</Description>
  <Contact>contact@company.info</Contact>
  <PluginTypeName>FieldPROConnector.Plugin, FieldPROConnector, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</PluginTypeName>
  <PluginUri>http://www.pluginuri.info/</PluginUri>
  <PluginId>://FieldPROConnector.Plugin/1.0.0.0</PluginId>
  <Trust PublicKeyToken="">Default</Trust>
  <ReleaseDate>2016-09-25</ReleaseDate>
  <Author>scalvo</Author>
  <AppVersion>2012.1</AppVersion>
  <Modules>
    <Module TypeName="FieldPROConnector.Module, FieldPROConnector, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
      
    </Module>
  </Modules>
  <Assemblies>
    <Assembly Name="FieldPROConnector, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <Assembly Name="ICSharpCode.SharpZipLib, Version=0.86.0.518, Culture=neutral, PublicKeyToken=1b03e6acf1164f73" />
    <Assembly Name="WebDataLoader, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </Assemblies>
  
  <StartMode>Startup</StartMode>
  <StartupAction>None</StartupAction>
</Plugin>
</InstalledPlugins>